
#include <stdio.h>

int main() {
    int uzunluq, i;
    char sifre[50];

    printf("Uzunlugu daxil et: ");
    scanf("%d", &uzunluq);

    for(i = 0; i < uzunluq; i++) {
        if(i % 2 == 0)
            sifre[i] = 'a' + i % 26;
        else
            sifre[i] = '0' + i % 10;
    }

    sifre[uzunluq] = '\0';

    printf("Sifre: %s", sifre);

    return 0;
}
